@import "tailwindcss";
:root {
  --font-family: var(--font-pt-sans);
}

body {
  font-family: var(--font-pt-sans), sans-serif;
}

.hero-swiper .swiper-button-prev,
.hero-swiper .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background: white;
}

.hero-swiper .swiper-button-prev::after,
.hero-swiper .swiper-button-next::after {
  font-size: 18px;
  color: #184363;
}

.hero-swiper .swiper-pagination-bullet-active {
  background: #184363;
}

.swiper-button-prev,
.swiper-button-next{
  width: 40px !important;
  height: 40px !important;
  background: white;
  border-radius: 9999px;
  color: #184363 !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 300;
}

.swiper {
	overflow: visible !important;
}

.swiper-button-prev{
  left: -20px !important;
}

.swiper-button-next{
  right: -20px !important;
}

:is(.swiper-button-prev, .swiper-button-next) ::slotted(svg), :is(.swiper-button-prev, .swiper-button-next) svg {
	width: 50% !important;
	height: 50% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  font-weight: 700;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #184363;
  color: white !important;
}

@layer components {
  .form-input {
    @apply border border-gray-300 hover:border-gray-400 transition
    focus-visible:ring-0 focus-visible:ring-[#2dc67b]
    focus-visible:border-[#2dc67b]
    focus-visible:ring-offset-0;
  }
}